.navbar-brand {
    font-family: 'Comfortaa', cursive;
}

.nav-link {
    font-family: 'Comfortaa', cursive;
}

.d-flex {
    font-family: 'Comfortaa', cursive;
}

.eddie-homepage {
    background-color: rgb(222, 219, 219);
}

.dropdown-menu {
    font-family: 'Comfortaa', cursive;

}

.card {
    font-family: 'Comfortaa', cursive;
    margin: 12px;

}

.pronouns {
    font-size: small;
}

.card-img-top {
    border-radius: 5px;
}

.title-content {
    font-family: 'Comfortaa', cursive;
}

.youtube {
    border-radius: 12px;
}

.divide-top {
    margin: 100px;
}

.divide {
    margin: 100px;
}