#container {
    background-color: gainsboro;
}






#header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}


#section1 {
    height: 500px;
    width: 500px;
    background-color: cornflowerblue;
    padding: 15px;
    text-align: center;
    display: inline-block;
}

#section2 {
    width: 500px;
    height: 500px;
    background-color: azure;
    padding: 15px;
    text-align: center;
    display: inline-block;
}