.card-wrapper {
    display: grid;
   grid-template-columns: auto auto auto;
}

.card {
    background-color: darkred;
    border: solid rgb(238, 135, 135);
}

.gallery-1 {
    display: grid;
    object-fit: cover;
    grid-template-columns: auto auto auto;
}

.gallery-2 {
    display: grid;
    object-fit: cover;
    grid-template-columns: auto auto auto;
    object-fit: cover;
}

.gallery-3 {
    display: grid;
    object-fit: cover;
    columns: 3 auto;
}